/* ----------------------------------------

   The base styles.

---------------------------------------- */


@small:  ~"( max-width: 1023px )";
@medium: ~"( min-width: 1023px ) and ( max-width: 1024px )";
@large:  ~"( min-width: 1024px )";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: @default-font-family;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
}


li {
  list-style: none;
}


a {
  text-decoration: none;
}