/* ----------------------------------------

   #page

---------------------------------------- */


#page {
  line-height: 28px;
  font-family: @default-font-family;
  font-size: 14px;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
}