/* ----------------------------------------

   #page

---------------------------------------- */


#page {
  font-family: @default-font-family;
  font-size: 14px;
  line-height: 26px;
  word-spacing: 0.5px;
  letter-spacing: 0.35px;
  -webkit-font-smoothing: antialiased;
}