/* ----------------------------------------

   The common { summary } styles.

   #summary
     ul
       li.lv1: a.lv1
       li.lv2: a.lv2
       li.lv3: a.lv3
       li.lv1: a.lv1
       li.lv2: a.lv2
       li.lv3: a.lv3

---------------------------------------- */


@indent: 20px;


#summary {
  margin-top: 16px;

  li {
    width: 100%;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  li.lv1 { font-size: 15px; font-weight: 500 }
  li.lv2 { font-size: 14px }
  li.lv3 { font-size: 13px }

  li.lv1.hint, li.lv1 a { padding: 0 @indent 0 @indent }
  li.lv2.hint, li.lv2 a { padding: 0 @indent 0 @indent * 2 }
  li.lv3.hint, li.lv3 a { padding: 0 @indent 0 @indent * 3 }

  li.lv3 {
    a::before {
      content: "-";
      margin-right: 8px;
    }
  }

  li.active {
    font-weight: 500;
  }
}