*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}



li{
  list-style: none;
}



a{
  text-decoration: none;
}



app, side, main, content, example, params, item, name, type, desc{
  display: block;
}



side{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow: scroll;
}


side a[level="3"]{
  display: none;
}



main{
  position: relative;
}



main::before,
main::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
}

main::before{ left: 0 }
main::after{ right: 0 }



section{
  overflow: hidden;
}



content{
  float: left;
}



example{
  float: right;
}


pre{
  overflow: scroll;
}









